@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* BRAND - SECTION 1 */
.brand {
    font-size: 30px;
    cursor: pointer;
    height: 100%;
    padding: 0 44px;
    line-height: 40px;
    transition: 0.5s;
    font-weight: 800;
}

.brand a {
    text-decoration: none;
    color: rgb(254, 210, 0);
}

/* BARS - SECTION 1 */
.bars {
    font-size: 20px;
    color: #000;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#chk {
    display: none;
}

/* NAVBAR - SECTION 1 */
nav {
    background: rgb(225, 243, 253);
    height: 50px;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
}

nav ul {
    float: right;
    padding-right: 5px;
}

nav ul li {
    display: contents;
    line-height: 50px;
    margin: 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 13px;
    font-weight: 600;
}

a.active,
a:hover {
    color: rgb(254, 210, 0);
    transition: all 0.5s;
}


/* SLEEK SLIDER - SECTION 2 */
.container {
    padding-top: 60px;
}

.container::before {
    content: "";
    display: table;
    clear: both;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.slick-prev {
    position: absolute;
    right: 75%;
    background-color: #fed200;
    border: none;
    color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    left: 19.5%;
    top: 97%;
}

.slick-next {
    position: absolute;
    right: 73%;
    background-color: #020202;
    border: none;
    color: transparent;
    width: 40px;
    height: 40px;
    top: 97%;
    border-radius: 40px;
}

.slick-prev:before,
.slick-next:before {
    content: " ~>";
    color: #fff;
    font-size: 30px;
}

.slick-prev:before {
    content: "<~ ";
}

.slide-content {
    padding-top: 80px;
}

.color {
    background: rgb(225, 243, 253);
}

/* SLEEK COLUMN LEFT - SECTION 2 */
.sleek-columnleft {
    float: left;
    width: 40%;
    padding-left: 20%;
}

.top-heading {
    padding-top: 96px;
    font-size: 30px;
    font-weight: bold;
}

.sub-heading {
    font-size: 70px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 14.5px;
    line-height: 1.8em;
    padding-right: 8%;
    padding-bottom: 8%;
}

.main-button {
    padding-bottom: 40px;
}

.button1 {
    padding: 20px 50px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    background-color: white;
    border: solid;
    border-color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.button1:hover {
    border-color: rgb(254, 210, 0);
    background-color: rgb(254, 210, 0);
    box-shadow: 5px 5px 10px 1px rgb(161, 157, 157);
    transition: all 0.5s;
    color: #fff;
}

.button2 {
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #fed200;
    color: white;
    border: solid;
    border-color: #fed200;
    cursor: pointer;
    transition: all 0.5s;
}

.button2:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    box-shadow: 5px 5px 10px 1px rgb(254, 210, 0);
    transition: all 0.5s;
}

/* SLEEK COLUMN RIGHT - SECTION 2 */
.sleek-columnright {
    float: left;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 20px;
}



/* OUR SERVICES - SECTION 3*/
.ourservices {
    text-align: center;
    padding-top: 130px;
    padding-left: 7%;
    padding-right: 7%;
}

#services-heading {
    font-weight: 700;
    padding-bottom: 15px;
    font-size: 40px;
}

#services-subheading {
    font-size: 15px;
}



/* CARDS - SECTION 4 */
.row {
    margin: 0;
    padding: 80px 240px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cardcolumn {
    float: left;
    width: 31%;
    padding: 10px;
}

.both {
    cursor: pointer;
    padding-bottom: 50px;
}

.card {
    box-shadow: 0 6px 15px 0 rgb(205, 204, 204);
    padding: 16px 16px 50px 20px;
    border-bottom: 9px solid rgb(254, 210, 0);
    border-radius: 9px;
    padding-bottom: 50px;
}

.card p {
    font-size: 14px;
}

.both:hover .card {
    border-bottom: 9px solid rgb(225, 243, 253);
    box-shadow: 0 12px 30px 0 rgb(205, 204, 204);
}

.top {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 10px;
    font-stretch: expanded;
}

.yellow {
    color: rgb(254, 210, 0);
}

.card .cardbottom p {
    font-size: 15px;
}

.cardbutton {
    background-color: rgb(254, 210, 0);
    color: white;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin: 10% 25%;
    transition: all 0.5s;
}

.both:hover .cardbutton {
    background-color: rgb(225, 243, 253);
    color: #000;
    transition: all 0.5s;
}


/* ABOUT COMPANY - SECTION 5 */
.about {
    padding: 150px 300px 400px 300px;
    background-color: rgb(225, 243, 253);
}

.companyleft {
    float: left;
    width: 50%;
}

.aboutcompany {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}

.about-paragraph {
    font-size: 12px;
    line-height: 1.8em;
}

.aboutbutton {
    background-color: rgb(254, 210, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    border-style: solid;
    border-color: rgb(254, 210, 0);
    transition: all 0.5s;
}

.aboutbutton:hover {
    background-color: rgb(225, 243, 253);
    color: #000;
    border-style: dotted;
    border-color: #fed200;
    box-shadow: 5px 5px 10px 1px rgb(254, 210, 0);
    transition: all 0.5s;
}

.companyright {
    float: right;
    width: 40%;
}

.companyright::before {
    content: "";
    display: table;
    clear: both;
}

/* TEAM - SECTION 7 */
.rowabout {
    margin-left: 250px;
    margin-right: 140px;
    padding: 75px 0;
    text-align: center;
}

.rowabout:after {
    content: "";
    display: table;
    clear: both;
}

.columnabout {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.columnabout img {
    /* width: 80%; */
    height: 300px;
}

.team-name {
    font-size: 90%;
    text-align: center;
}

.team-post {
    font-size: 10px;
    color: rgb(254, 210, 0);
    text-align: center;
}

/* TESTIMONIAL - SECTION 8 */
.testimonial-carousel {
    margin: 0 auto
}

.testimonials-wrapper {
    width: 80%;
    margin: 0 auto
}

.testimonials-wrapper h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    padding: 30px;
    color: #000;
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
    border-radius: 100%
}

.testimonials-img {
    position: relative;
    left: 50%;
    overflow: hidden !important;
    width: 100px;
    height: 100px;
    margin-left: -200px;
    box-shadow: 0 0 0 5px #171719;
    transition: all ease-out .5s;
    transform: translateY(-30%);
    filter: brightness(2)
}

.testimonial-carousel .active .testimonials-img {
    transform: translateY(0);
    filter: brightness(1)
}

.testimonials-person-info {
    text-align: center;
    color: #fff
}

.testimonials-blob {
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg)
}

@keyframes anim {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
    }

    50% {
        box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
    }

    100% {
        opacity: 1;
        background: #fff;
        box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
    }
}

.testimonial-carousel .active .testimonials-blob {
    transform-origin: 50% 50%;
    animation: anim linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.testimonial-carousel {
    overflow: hidden;
    cursor: grab
}

.testimonial-carousel:active {
    cursor: grabbing
}

.testimonial-carousel .owl-item {
    overflow: hidden;
    transition: all ease-out .3s;
    transform: scale(.7);
    opacity: 0
}

.testimonial-carousel .owl-item.active {
    transform: scale(1);
    opacity: 1;
    width: 1000px;
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    font-size: 13px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    transition: all ease-out .25s;
    transform: translateY(-100%);
    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background: #171719
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
    color: #fff;
    background: #615e6b
}

.testimonial-carousel .owl-prev {
    left: 0
}

.testimonial-carousel .owl-next {
    right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
    opacity: 0
}


.testimonial-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.testimonials-wrapper {
    width: 95%;
    max-width: 500px;
    margin: 0 auto
}

.testimonials-wrapper h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    padding: 30px;
    color: #000;
    border-radius: 5px;
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
    border-radius: 100%
}

.testimonials-img {
    position: relative;
    left: 50%;
    overflow: hidden !important;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: -50px;
    box-shadow: 0 0 0 5px #171719;
    transition: all ease-out .5s;
    transform: translateY(-30%);
    filter: brightness(2)
}

.testimonial-carousel .active .testimonials-img {
    transform: translateY(0);
    filter: brightness(1)
}

.testimonials-person-info {
    text-align: center;
    color: #000
}

.testimonials-blob {
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg)
}

@keyframes anim {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
    }

    50% {
        box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
    }

    100% {
        opacity: 1;
        background: #fff;
        box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
    }
}

.testimonial-carousel .active .testimonials-blob {
    transform-origin: 50% 50%;
    animation: anim linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 1000px;
}

.testimonial-carousel {
    overflow: hidden;
    cursor: grab
}

.testimonial-carousel:active {
    cursor: grabbing
}

.owl-item.active {
    width: 1000px;
}

.testimonial-carousel .owl-item {
    overflow: hidden;
    transition: all ease-out .3s;
    transform: scale(.7);
    opacity: 0
}

.testimonial-carousel .owl-item.active {
    transform: scale(1);
    opacity: 1;
    width: 1000px;
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    font-size: 13px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    transition: all ease-out .25s;
    transform: translateY(-100%);
    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background: #171719
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
    color: #fff;
    background: #615e6b
}

.testimonial-carousel .owl-prev {
    left: 0
}

.testimonial-carousel .owl-next {
    right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
    opacity: 0
}

.tesimonial-color {
    background-color: rgb(225, 243, 253);
    padding: 50px 0;
}


/* FORMS - SECTION 9 */
.formsservices {
    text-align: center;
    padding-top: 50px;
    align-items: center;
    text-decoration-color: rgb(254, 210, 0);
}

.formsservices p {
    border-left: 10%;
    font-size: 30px;
    font-weight: 100px;
}

.formsservices p strong {
    border-bottom: 1px solid rgb(254, 210, 0);
}

.forms {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

.forms1 {
    width: 25%;
    border-radius: 10px;
    border-color: rgb(225, 243, 253);
    padding: 10px;
    border-style: solid;
}

.formswidth {
    height: 25px;
}

.formssend {
    background-color: rgb(254, 210, 0);
    color: rgb(255, 255, 255);
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    margin: 50px 2px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    border-style: solid;
    border-color: #fed200;
    transition: all 0.5s;
}

.formssend:hover {
    background-color: rgb(225, 243, 253);
    color: #000;
    border-style: dotted;
    transition: all 0.5s;
    border-color: #fed200;
    box-shadow: 5px 5px 10px 1px rgb(254, 210, 0);
}

.message {
    height: 100px;
}

/* FOOTER - SECTION 10 */
.footer {
    padding: 40px 350px 400px 300px;
    background-color: rgb(47, 47, 49);
}

.footerleft {
    float: left;
    width: 50%;
}

.footerright {
    float: right;
    width: 50%;
}

.footer input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.footer .footerleft button {
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.footer .footerleft button:hover {
    background: #ccc;
}

.footer .footerleft p {
    color: white;
}

.footerleft1 {
    float: left;
    width: 85%;
}

/* COPYWRITE - SECTION 11 */
.copyright {
    background-color: rgb(225, 243, 253);
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: black;
    padding: 10px;
}

/* MEDIA SCREEN ( 1024px ) */
@media screen and (max-width: 1024px) {
    .bars {
        display: block;
    }

    #chk:checked~ul {
        left: 50%;
    }

    nav {
        padding: 10px 0;
    }

    nav ul {
        background: rgb(97 124 140 / 93%);
        position: fixed;
        left: 100%;
        top: 70px;
        width: 50%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
        line-height: 10px;
    }

    nav ul li a {
        font-size: 18px;
    }

    a.active,
    a:hover {
        background: none;
        color: rgb(254, 210, 0);
    }

    .sleek-columnleft {
        padding-left: 15%;
    }

    .sleek-columnright {
        justify-content: center;
        display: flex;
        padding-top: 0;
    }

    .sleek-columnright img {
        width: 400px;
        align-items: center;
        padding-top: 150px;
    }

    .slick-prev {
        left: 18%;
    }

    .slide-content {
        padding-top: 0;
    }

    .ourservices {
        text-align: center;
        padding-top: 80px;
    }

    .cardcolumn {
        width: 100%;
        padding: 0;
    }

    .about {
        padding-left: 150px;
    }

    .rowabout {
        margin-left: 140px;
    }

    .footerright {
        width: 40%;
    }

    .footerleft {
        width: 60%;
    }

    .footer {
        padding-bottom: 400px;
        padding-left: 150px;
        background-color: rgb(47, 47, 49);
    }

    .footerright img {
        width: 250%;
    }
}

@media screen and (max-width: 768px) {
    .sleek-columnleft {
        width: 100%;
        padding: 0 15px;
    }

    .sleek-columnright {
        width: 100%;
        justify-content: center;
        display: flex;
        padding-top: 0;
    }

    .slick-next {
        right: 70%;
    }

    .sleek-columnright img {
        width: 300px;
        align-items: center;
        padding-top: 0;
    }

    .paragraph {
        padding-bottom: 2%;
    }

    .top-heading {
        font-size: 15px;
    }

    .sub-heading {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .slide-content {
        padding-top: 0;
    }

    .brand {
        padding-left: 20px;
    }

    nav ul {
        width: 60%;
    }

    #chk:checked~ul {
        left: 40%;
    }

    .top-heading {
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .button1 {
        padding: 10px 25px;
    }

    .button2 {
        padding: 10px 25px;
    }

    .row {
        padding: 80px;
    }

    #services-heading {
        font-weight: 700;
        font-size: 20px;
    }

    .fa-3x {
        font-size: 2rem;
    }

    .about {
        padding: 150px 10px 400px 50px;
    }

    .companyright img {
        width: 100%;
        padding-top: 60px;
        /* padding-left: 50px */
    }

    .columnabout {
        width: 50%;
        padding: 0;

    }

    .columnabout img {
        /* width: 80%; */
        height: 200px;
    }

    .rowabout {
        margin-left: 120px;
    }

    .footerright {
        width: 100%;
    }

    .footerright img {
        width: 100%;
        padding: 0 70px;
    }

    .footerleft {
        width: 100%;
        padding-bottom: 30px;
        padding-left: 60px;
    }

    .footerleft1 {
        width: 100%;
    }

    .footer {
        padding-right: 150px;
        padding-left: 20px;
        padding-bottom: 600px;
    }
}

@media screen and (max-width: 425px) {
    nav ul {
        width: 100%;
    }

    #chk:checked~ul {
        left: 0;
    }

    .slick-next {
        right: 65%;
    }

    .companyright {
        /* float: right; */
        width: 100%;
    }

    .companyleft {
        /* float: left; */
        width: 100%;
    }

    .about {
        padding: 30px 10px 500px 10px;
    }

    .aboutcompany {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        text-align: center;
    }

    .about-paragraph {
        text-align: center;
    }

    .aboutbutton {
        margin: 10px 140px;
    }

    .companyright img {
        width: 75%;
        padding: 0 50px;
    }

    .rowabout {
        margin: 0 0;
    }

    .columnabout img {
        /* width: 80%; */
        height: 150px;
    }

    .forms1 {
        width: 50%;
    }

    .formsservices p {
        font-size: 20px;
    }

    .footer {
        padding-bottom: 500px;
    }
}

@media screen and (max-width: 375px) {
    nav ul {
        width: 100%;
    }

    #chk:checked~ul {
        left: 0;
    }

    .slick-next {
        right: 62%;
    }

    .companyright img {
        width: 75%;
        padding: 0 50px;
    }

    .columnabout {
        width: 100%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 320px) {
    .top-heading {
        padding-top: 4px;
        font-size: 15px;
        font-weight: bold;
        margin: 10px 0;
    }

    .sub-heading {
        font-size: 35px;
        margin-bottom: 2px;
        margin-top: 0;
    }

    .paragraph {
        font-size: 12px;
        line-height: 1.2em;
    }

    .sleek-columnright img {
        width: 200px;
        align-items: center;
    }

    .button1 {
        padding: 8px 14px;
    }

    .button2 {
        padding: 8px 14px;
    }

    .slick-next {
        right: 59%;
    }

    .ourservices {
        text-align: center;
        padding-top: 71px;
    }

    .row {
        padding: 0px 30px;
    }

    #services-heading {
        font-weight: 800;
        font-size: 20px;
        padding-bottom: 10px;
    }

    .card {
        padding: 16px 4px 24px 10px;
    }

    .top {
        font-size: 10px;
        font-weight: 800;
        padding-bottom: 0;
    }

    .card .cardbottom p {
        font-size: 12px;
    }

    .fa-3x {
        font-size: 2rem;
    }

    nav ul {
        width: 100%;
    }

    #chk:checked~ul {
        left: 0%;
    }

    .about {
        padding-bottom: 400px;
    }

    .aboutbutton {
        margin: 10px 90px;
    }

    .companyright img {
        width: 50%;
        padding: 0 50px;
    }

    .columnabout {
        width: 100%;
    }

    .footerleft {
        width: 100%;
        padding-left: 19px;
    }

    .footer {
        padding-right: 100px;
    }

    .footerright img {
        padding: 0 40px;
    }


}